.cart-badge {
    width: 30px;
    height: 30px;
    padding: 15.2px 7.8px;
    font-size: 23px;
    border-radius: 26px;
    transform: perspective(0px) translate(-12px) rotate(0deg) scale(0.50);
    transform-origin: top;
    padding-right: 0;
    padding-top: 0.2px;
    padding-left: 0.2px;
    text-align: center;
    border-width: 48px;
}